body {
  background-color: rgb(247, 196, 242);
  font-family: fantasy;
}

#root{
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}